<style>
    p#texto{
        text-align: center;
        color:white;
    }

    div#div_file{
        
        position:relative;
        width:150px;
        background-color: #2499e3;
        -webkit-border-radius:5px;
        -webkit-box-shadow:0px 3px 0px #1a71a9;
    }

    input#btn_enviar{
        position:absolute;
        top:0px;
        left:0px;
        right:0px;
        bottom:0px;
        width:100%;
        height:100%;
        opacity: 0;
    }
</style>
<div class="card bg-light mb-3" style="width: 28rem;">
    <div class="card-header">INFORMACION PERSONAL</div>
    <div class="card-body text-left">

        <form method="POST" v-on:submit.prevent="Guardar" id="frmPersonal" style="width: 100%;">
            <div class="row p-2">
                <div class="col-5">
                    Nombre Completo:
                </div>
                <div class="col-7">
                    <input type="text" style=" width: 100%; display: flex; position: relative; float: right;" required pattern="([a-zA-ZÁÉÍÓÚñáéíóú]{1,}[\s]*)+" v-model="Informacion.Nombre" placeholder="Juan Alfredo Gutierrez Carranza" >
                </div>
            </div>
            <div class="row p-2">
                <div class="col-5">
                    Fecha de Nacimiento:
                </div>
                <div class="col-7">
                    <input type="date" class="form-control" required v-model="Informacion.Nacimiento">
                </div>
            </div>
            <div class="row p-2">
                <div class="col-5">
                    DUI:
                </div>
                <div class="col-7">
                    <input type="text" required pattern="\d{8}-\d{1}" placeholder="00000000-1" label="00000000-1" v-model="Informacion.DUI" class="input" id="Usuario">
                </div>
            </div>
            <div class="row p-2">
                <div class="col-5">
                    Sexo:
                </div>
                <div class="col-7">
                    <v-select style="width: 100%;" v-model="Informacion.Genero"  class="style-chooser" placeholder="Genero" :options="Genero">
                        <template #search="{attributes, events}">
                            <input
                              class="vs__search"
                              :required="!Informacion.Genero"
                              v-bind="attributes"
                              v-on="events"
                            />
                        </template>
                    </v-select>
                </div>
            </div>
            <div class="row p-2">
                <div class="col-5">
                    Estado Civil:
                </div>
                <div class="col-7">
                    <v-select  style="width: 100%;" v-model="Informacion.Estado" class="style-chooser" placeholder="Estatus" :options="Status">
                        <template #search="{attributes, events}">
                            <input
                              class="vs__search"
                              :required="!Informacion.Estado"
                              v-bind="attributes"
                              v-on="events"
                            />
                        </template>
                    </v-select>
                </div>
            </div>
            <div class="row p-2">
                <div class="col-5">
                    Departamento:
                </div>
                <div class="col-7">
                    <select required name="" v-on:change="CambioMunicipio" id="Departamento"  class="form-control" v-model="Informacion.Departamento">
                        <option v-for="Depa in Departamento.Departamento" :value="Depa">{{Depa}}</option>
                    </select>
                </div>
            </div>
            <div class="row p-2">
                <div class="col-5">
                    Municipio:
                </div>
                <div class="col-7">
                    <v-select style="width: 100%;" v-model="Informacion.Municipio" class="style-chooser" placeholder="Municipio" :options="Municipio.Municipio">
                        <template #search="{attributes, events}">
                            <input
                              class="vs__search"
                              :required="!Informacion.Municipio"
                              v-bind="attributes"
                              v-on="events"
                            />
                        </template>
                    </v-select>
                </div>
            </div>
            <div class="row p-2">
                <div class="col-5">
                    Tipo de Zona:
                </div>
                <div class="col-7">
                    <v-select style="width: 100%;" v-model="Informacion.Zona" class="style-chooser" placeholder="Zona" :options="Zona.Zona">
                        <template #search="{attributes, events}">
                            <input
                              class="vs__search"
                              :required="!Informacion.Zona"
                              v-bind="attributes"
                              v-on="events"
                            />
                        </template>
                    </v-select>
                </div>
            </div>          
            <div class="row p-2">
                <div class="col-5">
                    Dirección:
                </div>
                <div class="col-7">
                    <input type="text" required minlength="3" maxlength="100" v-model="Informacion.Direccion" placeholder="Santa Ana" >
                </div>
            </div>
            <div class="row p-2">
                <div class="col-5">
                    Número Celular:
                </div>
                <div class="col-7">
                    <input type="tel" min="9" max="9" required pattern="[0-9]{4}[ -][0-9]{4}" v-model="Informacion.Telefono" placeholder="9999-6666" title="Ejemplo de telefono: 0000-0000" >
                </div>
            </div>
            <div class="row p-2">
                <div class="col-5">
                    Correo:
                </div>
                <div class="col-7">
                    <input type="email" class="form-control" size="64" maxLength="64" required pattern=".+@+.+.com" title="Por favor ingrese una direccion de correo valida" v-model="Informacion.Correo" placeholder="example@codemaster.com" >
                </div>
            </div>
            <div class="row p-2 text-center">
                <div class="col-5">
                    <img src="Public/img/avatar.svg" id="vistaP" width="100px" height="100px" alt="">
                </div>
                <div class="col-7 text-left">
                    <p class="text-danger" style="font-size: 14px;">Esta foto será mostrada en su perfil se le recomienda que sea formal.</p>
                    <div id="div_file">
                        <p id="texto">Subir foto</p>
                        <input required type="file" id="btn_enviar">
                    </div>
                </div>
            </div>
            <div class="row p-2"> 
                <div class="col-12 text-center flex">

                    <input type="button" v-on:click="Cancelar" class="btn btn-danger text-white" value="Cancelar">
                    <input type="submit" class="btn btn-success text-white" value="Continuar">
                    <input type="button" v-on:click="Avanzar" class="Mover btn btn-primary text-white" value="Siguiente">
                    
                </div>
            </div>
        </form>
        
    </div>
</div>
<script src="Public/Module/Admin/Perfil/Personal/Personal.js"></script>
<script>
    
    $("#btn_enviar").change(function () {
        let fReader = new FileReader();
        fReader.readAsDataURL($("#btn_enviar").prop("files")[0]);
        fReader.onloadend = function (event) {
            $("#vistaP").attr("src",event.target.result);
            
        }
    })
</script>