<!DOCTYPE html>
<html lang="en">
<head>
    <title>SRP</title>
    <meta charset="UTF-8" />
	
	<link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
	<script src="https://kit.fontawesome.com/a81368914c.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	 <!-- Alert -->
    <!-- CSS -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css"/>
    <!-- Default theme -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/default.min.css"/>
    <!-- Semantic UI theme -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/semantic.min.css"/>
    <!-- Bootstrap theme -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/bootstrap.min.css"/>
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    
	<link rel="stylesheet" href="https://unpkg.com/vue-select@3.0.0/dist/vue-select.css">
	
	<link rel="stylesheet" type="text/css" href="Public/CSS/styleLogin.css">
</head> 
<body>
	<div class="Login">
		<img class="wave" src="Public/img/wave.png">
		<div class="container">
			
			<div class="img">
				<img src="Public/img/bg.svg">
			</div>
			<div class="login-content" >
				<form method="GET" id="frmLogin">
					<img src="Public/img/avatar.svg">
					<h2 class="title">Bienvenido</h2>
					<div class="input-div one">
						<div class="i">
								<i class="fas fa-user"></i>
						</div>
						<div class="div">
								<h5>Usuario</h5>
								<input required type="text" class="input" id="Usuario">
						</div>
					</div>
					<div class="input-div pass">
					<div class="i"> 
							<i class="fas fa-lock"></i>
					</div>
					<div class="div">
							<h5>Contraseña</h5>
							<input required type="password" class="input" id="Password">
					</div>
					</div>
					<a href="#">¿Has olvidado la contraseña?</a>
					<input type="submit" class="btn" value="Login">
					<input type="button" value="Crear Cuenta" class="btn" data-toggle="modal" data-target="#exampleModalCenter">
					
				</form>

				<div id="VolverInicio">
					<a href="../SRP/"> < Volver</a>
				</div>
				
			</div>
		</div>
	</div>

	<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered modal-lg modal-dialog-scrollable" role="document">
		  <div class="modal-content">
			<div class="modal-header">
			  <h5 class="modal-title" id="exampleModalCenterTitle" style="width: 100%;">
				  <div class="login-content" style="width: 100%;">
					  <div id="frmLogin"  style="width: 100%;">
						<img src="Public/img/avatar.svg">
						<h2>Crear Cuenta</h2>
					  </div>
					
				  </div>
			  </h5>
			  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			  </button>
			</div>
			<div class="modal-body">

				<div class="login-content" style="justify-items: center; justify-content: center; width: 100%;">
					<form v-on:submit.prevent="guardarRegistrarUsuario" method="get" id="frmRegistrarUsuario" data-accion="nuevo" style="width: 100%;">
						<div class="row p-2">
							<div class="col-6">
								<div class="input-div one" style="width:100%">
									<div class="i">
											<i class="fas fa-user"></i>
									</div>
									<div class="div">
											<h5>Nombre</h5>
											<input type="text" required v-model="RegistrarUsuario.Nombre" class="input" id="Usuario">
									</div>
								</div>
							</div>
							<div class="col-6">
								<div class="input-div one" style="margin-top: 0px; width: 100%;">
									<div class="i">
											<i class="fas fa-user"></i>
									</div>
									<div class="div">
											<h5>Apellido</h5>
											<input type="text" required v-model="RegistrarUsuario.Apellido" class="input" id="Usuario">
									</div>
								</div>
							</div>
						</div>
						<div class="row p-2">
							<div class="col-6">
								<div class="input-div one" style="width:100%">
									<div class="i">
										<i class="fas fa-venus-mars"></i>
									</div>
									<div class="div">
										<v-select class="style-chooser" placeholder="Genero" v-model="RegistrarUsuario.Genero" :options="Genero">
											<template #search="{attributes, events}">
												<input
												  class="vs__search"
												  :required="!RegistrarUsuario.Genero"
												  v-bind="attributes"
												  v-on="events"
												/>
											</template>
										</v-select>
									</div>
								</div>
								
							</div>
							<div class="col-6">
								<div class="input-div one" style="width:100%">
									<div class="i">
											<i class="fas fa-user"></i>
									</div>
									<div class="div">
										<v-select class="style-chooser"placeholder="Estatus" v-model="RegistrarUsuario.Estatus" :options="Status">
											<template #search="{attributes, events}">
												<input
												  class="vs__search"
												  :required="!RegistrarUsuario.Estatus"
												  v-bind="attributes"
												  v-on="events"
												/>
											</template>
										</v-select>
									</div>
								</div>
								
							</div>
						</div>
						<div class="row p-2">
							<div class="col-6">
								<div class="input-div one" style="width:100%">
									<div class="i">
										<i class="far fa-calendar-alt"></i>
									</div>
									<div class="div">
											<input type="date" required  v-model="RegistrarUsuario.Fecha" class="input" id="Usuario">
									</div>
								</div>
							</div>
							<div class="col-6">
								<div class="input-div one" style="margin-top: 0px; width: 100%;">
									<div class="i">
											<i class="fas fa-user"></i>
									</div>
									<div class="div">
											<h5>DUI</h5>
											<input type="text" required pattern="\d{8}-\d{1}" label="00000000-1" v-model="RegistrarUsuario.DUI" class="input" id="Usuario">
									</div>
								</div>
							</div>
						</div>
						<div class="row p-2">
							<div class="col-6">
								<div class="input-div one" style="width:100%">
									<div class="i">
											<i class="fas fa-user"></i>
									</div>
									<div class="div">
											<h5>NIT</h5>
											<input type="text" required pattern="[0-9]{4}-[0-9]{6}-[0-9]{3}-[0-9]{1}" v-model="RegistrarUsuario.NIT" class="input" id="Usuario">
									</div>
								</div>
							</div>
							<div class="col-6">
								<div class="input-div one" style="margin-top: 0px; width: 100%;">
									<div class="i">
											<i class="fas fa-user"></i>
									</div>
									<div class="div">
											<h5>Usuario</h5>
											<input type="text" v-model="RegistrarUsuario.Usuario" class="input" id="Usuario">
									</div>
								</div>
							</div>
						</div>
						<div class="row p-2">
							<div class="col-6">
								<div class="input-div pass" style="width:100%">
									<div class="i">
										<i id="password" v-on:click="pass()" data-accion="hide" style="cursor: pointer;" class="fas fa-lock"></i>
									</div>
									<div class="div">
										<h5>Password</h5>
										<input id="pass" required minlength="3" maxlength="8" type="password" v-model="RegistrarUsuario.Password" class="input" id="Password">
									</div>
								</div>
								<input type="button" style="width: 150px; background-color: coral; justify-content: center;" class="btn bg-secondary text-white" v-on:click="generarPassword" value="Generar">
							</div>
						</div>
						<div class="row p-2">
							<div class="col-12 text-center">
								<div class="alert alert-success" role="alert">
									{{ RegistrarUsuario.msg }}
								</div>
							</div>
						</div>
						<div class="row p-2"> 
							<div class="col-12 text-center">
								<input type="submit" class="btn btn-outline-success text-white" value="Registrar">
								
							</div>
						</div>

					</form>
				</div>
			
			</div>
			<div class="modal-footer">
				&copy; Code Master
			</div>
		  </div>
		</div>
	  </div>
	
	  <footer>
		  <p style="float: right; margin-right: 20px;">&copy; Code Master</p>
	  </footer>
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://unpkg.com/vue-select@3.0.0"></script>
	<script src="./Public/JS/RegistrarUsuario.js"></script>		
	<script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
	<script type="text/javascript" src="Public/JS/Login.js"></script>
	
</body>
</html>
