*{
    margin-top: 20px;
}

body{
    justify-items: center;
    background-color: black;
}

.contenedor{
    background-color: darkslategrey;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    margin: 1rem;
}

label{
    
    text-transform: uppercase;
    color: white;
}

input[type=text]{
    width: 50%;
}