/* html, body{
    height:100vh;
    display: flex;
    flex-direction: column;
    background: rgb(6, 61, 212);
} */
.Contenedor{
    display: flex;
    text-align: center;
    height: 100%;
    width: 100%;
}
.BuscadorChat{
    display: inline-block;
    background: rgb(18, 177, 240);
    border-radius: 10px;
    height: 80vh;
    width: 400px;
    justify-content: center;
    text-align: center;
    padding: 10px;
    margin: 10px;
    overflow-y: scroll;
}
.BuscadorChat .Usuario{
    display: flex;
    margin-top: 20px;
    width: 100%;
    background: #fff;
    height: 10%;
    border-radius: 10px;
    cursor: pointer;
}

#IdPerfil{
    visibility: hidden;
    display: none;
}

.BuscadorChat .Usuario:hover{
    background: rgb(15, 69, 218);
    
}
.SalaChat{
    padding: 10px;
    margin: 10px;
    margin-left: 0px;
    border-radius: 10px;
    display: inline-block;
    background: #fff;
    width: 100%;
    height: 80vh;
}
#messages{
    width: 95%;
    max-width: 100%;
    height: 85%;
    overflow-y: scroll;
    border: 1px solid #eee;
    box-shadow: 0px 0px 20px #ccc inset;
}
.imgMostrada{
    width: 90%;
    border-radius: 10px;
}
.message{
    margin: 20px;
    padding: 5px;
    width: 50%;
    display: inline-block;
    border-radius: 5px;
    border: 1px solid #ccc;
    background: white;
}
.MSGP{
    float: right;
    background: skyblue;
}
.MSGO{
    float: left;
}

.botonChat{
  display: flex;
  background-color: rgb(0, 140, 255);
  border-radius: 30px;
  width: 50px;
  padding: 10px;
  margin: 20px;
  justify-content: center;
  justify-items: center;
  text-align: center;
  cursor: pointer;
}

.enviarMessage{
  background-color: skyblue;
  background-image: url('../img/enviar.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px 20px;
  width: 60px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  font-size:11px;
  line-height:32px;
  text-transform: uppercase;
  float: right;
  cursor: pointer;
}
.containerChatWrite{
  margin-top: 10px;
  margin-right: 5%;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 10px;
}
#text{

  height: 35px;
  width: 80%;
}
.BuscadorChat .notificar{
    background-color: crimson;
}

p#texto{
	text-align: center;
}

div#div_file{
	position:relative;
	width:100px;
    height: 40px;
	-webkit-border-radius:5px;
	-webkit-box-shadow:0px 3px 0px #1a71a9;
}

.espacio{
    padding-top: 20px;
    padding-right: 50px;
}
/* .enviar{
    background-image: url('../img/enviar.svg');
    background-repeat: no-repeat;
    background-position: center;
    position:relative;
	width:100px;
    height: 40px;
    -webkit-border-radius: 5px;
	-webkit-box-shadow:0px 3px 0px #1a71a9;
} */
input#btnArchivo{
	position:absolute;
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	width:100%;
	height:100%;
	opacity: 0;
}

input#btn_enviar{
	position:absolute;
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	width:100%;
	height:100%;
	opacity: 0;
}
.ContentUser{
    cursor: pointer;
    width: 100%;
    display: flex;
}

.ContentUser img{
    max-width: 40%;
    border-radius: 10px;
    margin-right: 5px;
}

.ContentUser .Nombre{
    cursor: pointer;
    padding-top: 5%;
    width: 100%;
}