/* *{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
} */


body{
    font-family: 'Open sans';
}
/* .wrap{
    display: grid;
	width: 800px;
	max-width: 90%;
	margin: 30px auto;
}

ul.tabs{
	width: 100%;
	background: #363636;
	list-style: none;
	display: flex;
}

ul.tabs li{
	width: 18%;
}

ul.tabs li a{
	color: #fff;
	text-decoration: none;
	font-size: 16px;
	text-align: center;

	display: block;
	padding: 20px 0px;
}

.active{
	background: #0984CC;
}

ul.tabs li a .tab-text{
	margin-left: 8px;
}

.secciones{
    text-align: center;
    justify-content: center;
    justify-items: center;
    width: 100%;
    max-height: 500px;
    overflow-y: scroll;
	background: #fff;
}

.secciones article{
	padding: 30px;
}

.secciones article p{
	text-align: justify;
}


@media screen and (max-width: 700px){
	ul.tabs li{
		width: none;
		flex-basis: 0;
		flex-grow: 1;
	}
}

@media screen and (max-width: 450px){
	ul.tabs li a{
		padding: 15px 0px;
	}

	ul.tabs li a .tab-text{
		display: none;
	}

	.secciones article{
		padding: 20px;
	}
} */

.Contenedor{
    justify-content: center;
    justify-items: center;
    text-align: center;
    width: 100%;
}

p#texto{
    text-align: center;
    color:white;
}

div#div_file{
    margin-top: 70%;
    position:relative;
    width:150px;
    background-color: #df0404;
    -webkit-border-radius:5px;
    -webkit-box-shadow:0px 3px 0px #1a71a9;
}

input#btn_enviar{
    position:absolute;
    top:0px;
    left:0px;
    right:0px;
    bottom:0px;
    width:100%;
    height:100%;
    opacity: 0;
}

div#div_button{
    margin-left: 10px;
    position:relative;
    width:150px;
    background-color: #df0404;
    -webkit-border-radius:5px;
    -webkit-box-shadow:0px 3px 0px #1a71a9;
}
div#div_buttonEditar{
    margin-left: 10px;
    position:relative;
    width:150px;
    background-color: #0d28c2;
    -webkit-border-radius:5px;
    -webkit-box-shadow:0px 3px 0px #1a71a9;
}

input#btn_eliminar{
    position:absolute;
    top:0px;
    left:0px;
    right:0px;
    bottom:0px;
    width:100%;
    height:100%;
    opacity: 0;
}
input#btn_editar{
    position:absolute;
    top:0px;
    left:0px;
    right:0px;
    bottom:0px;
    width:100%;
    height:100%;
    opacity: 0;
}

.butonRigth{
    float: right;
    display: flex;
    height: 30px;
    width: 40%;
}

.Buscador{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
}

.border{
    margin-top: 10px;
}

.grupoBusqueda{
    margin-top: 10px;
    margin-left: 8%;
    text-align: left;
    display: flex;
}

.GrupoItems{
    margin-left: 10px;
    margin-right: 20px;
    width: 165px;
}

.Tarjetas{
    width: 100%;
    margin-right: 20px;
}
.ContenedorTarjetas{
    width: 90%;
    margin-right: 20px;
}

/* .Rows{
    margin: 50px;
    width: 60%;
    height: 25vh;
    display: flex;
    background: linear-gradient(to right, rgba(79,172,254, .8),
                                           rgba(0, 242, 254, .8));
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);;
    align-items: center;
    justify-content: center;
    padding: 0 1.5rem;
}


.blog-post{
    width: 100%;
    max-width: 98rem;
    padding: 5rem;
    margin-top: 7%;
    display: flex;
    align-items: center;
    border-radius: .8rem;
}

.blog-post__img{
    margin-top: -7%;
    min-width: 50%;
    max-width: 50%;
    height: 50%;
    transform: translateX(-8rem);
    position: relative;
}

.blog-post__img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: .8rem;
}

.blog-post__img::before{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(to right, rgba(79,172,254, .8),
                                           rgba(0, 242, 254, .8)); 
    box-shadow: .5rem .5rem 3rem 1px rgba(0, 0, 0, .05);
    border-radius: .8rem;

}

.blog-post__date span{
    display: block;
    color: rgba(8, 8, 8, .5);
    font-size: 12px;
    font-weight: 680;
    margin: .5rem 8;
}

.blog-post__title{
    font-size: 20px;
    margin: 1,5rem 0 2rem;
    text-transform: uppercase;
    color: #4facfe;
}

.blog-post__text{
    margin-bottom: 3rem;
    font-size: 14px;
    color: rgba(0, 0, 0, .7);
}

.blog-post__cta{
    display: inline-block;
    padding: 1.5rem 3rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 12px;
    color: #fff;
    background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
    border-radius: .8rem;
    text-decoration: none;
}

.blog-post__cta:hover{
    background-image: linear-gradient(to right, #00f2fe 0%, #4facfe 100%);
}

@media screen and (max-width: 1068px){

    .blog-post{
        max-width: 83rem;
    }

    .blog-post__img{
        min-width: 38rem;
        max-width: 38rem;
    }

}

@media screen and (max-width: 868px){

    .blog-post{
        max-width: 78rem;
    }


}

@media screen and (max-width: 768px){

    .blog-post{
        padding: 2.5rem;
        flex-direction: column;
    }

    .blog-post__img{
        min-width: 100%;
        max-width: 100%;
        transform: translate(0, -8rem);
    }

} */



