*{
    margin: 0px;
    padding: 0px;
}

/* Modal */


.login-content{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	text-align: center;
}

.login-content img{
    height: 100px;
}

.login-content h2{
	margin: 15px 0;
	color: #333;
	text-transform: uppercase;
	font-size: 2.9rem;
}

.login-content .input-div{
	position: relative;
    display: grid;
    grid-template-columns: 7% 93%;
    margin: 25px 0;
    padding: 5px 0;
    border-bottom: 2px solid #d9d9d9;
}

.login-content .input-div.one{
	margin-top: 0;
}

.i{
	color: #d9d9d9;
	display: flex;
	justify-content: center;
	align-items: center;
}


.style-chooser .vs__search::placeholder,
.style-chooser .vs__dropdown-toggle,
.style-chooser .vs__dropdown-menu {
  border: none;
}


.i i{
	transition: .3s;
}

.input-div > div{
    position: relative;
	height: 45px;
}

.input-div > div > h5{
	position: absolute;
	left: 10px;
	top: 50%;
	transform: translateY(-50%);
	color: #999;
	font-size: 18px;
	transition: .3s;
}

.input-div:before, .input-div:after{
	content: '';
	position: absolute;
	bottom: -2px;
	width: 0%;
	height: 2px;
	background-color: #2655f0;
	transition: .4s;
}

.input-div:before{
	right: 50%;
}

.input-div:after{
	left: 50%;
}

.input-div.focus:before, .input-div.focus:after{
	width: 50%;
}

.input-div.focus > div > h5{
	top: -5px;
	font-size: 15px;
}

.input-div.focus > .i > i{
	color: #2655f0;
}

.input-div > div > input{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	border: none;
	outline: none;
	background: none;
	padding: 0.5rem 0.7rem;
	font-size: 1.2rem;
	color: #555;
	font-family: 'poppins', sans-serif;
}

.input-div.pass{
	margin-bottom: 4px;
}

/* Modal */

body{
    font-family: arial;
}

header{
    margin-top: -7%;
	position: fixed;
	z-index: 1;
	background: #3C3C3C;
	width: 100%;
	height: 70px;
}

#body{
	margin-top: 7%;
}

nav{
	display: table;
	margin: auto;
	margin-top: 15px;
	height: 40px;
}

ul{
	display: block;
	float: left;
	list-style: none;
}

ul li{
	color: #F3F3F3;
	cursor: pointer;
	float: left;
	margin: 10px;
	padding: 2px;
}

ul a{
	color: #F3F3F3;
	text-decoration: none;
}


.main{

    margin: 2%;
}

.card{
    width: 20%;
    display: inline-block;
    box-shadow: 2px 2px 20px black;
    border-radius: 5px; 
    margin: 2%;
}

.image img{

    width: 100%;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.title{
 
    text-align: center;
    padding: 10px;
  
}

h1{
    font-size: 20px;
}

.des{
    padding: 3px;
    text-align: center;
 
    padding-top: 10px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.des>button{
    margin-top: 40px;
    margin-bottom: 10px;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    padding:10px;
}

button:hover{
    background-color: black;
    color: white;
    transition: .5s;
    cursor: pointer;
}

@media screen and (max-width: 768px){
    .main{
        display: grid;
    }

    .card{
        width: 90%;
    }
}
