<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Public/CSS/ChatStyle.css">
</head>
<body>
    <div class="main">

        <!--cards -->
    
        <div class="card">
    
            <div class="image">
                <img src="https://image.freepik.com/vector-gratis/perfil-avatar-hombre-icono-redondo_24640-14044.jpg">
            </div>
    
            <div class="title">
                <h1>Mi Perfil</h1>
            </div>
    
            <div class="des">
                <button id="AbrirModal" class="Modal" data-toggle="modal" data-target="#exampleModalCenter">Ingresar</button>
            </div>
            
        </div>
        <!--cards -->
    
        <div class="card">
    
            <div class="image">
                <img src="https://st2.depositphotos.com/5671012/8961/v/600/depositphotos_89614770-stock-illustration-synchronize-user-icon-update-icon.jpg">
            </div>
    
            <div class="title">
                <h1>Actualizacion de perfil</h1>
            </div>
            
            <div class="des">
                <button onclick="ActualizarPerfil()">Ingresar</button>
            </div>
        </div>
    
        <!--cards -->
    
        <div class="card">
    
            <div class="image">
                <img src="https://image.freepik.com/vector-gratis/ilustracion-busqueda-todo-mundo_53876-5870.jpg">
            </div>
    
            <div class="title">
                <h1>Busqueda Personalizada</h1>
            </div>
            
            <div class="des">
                <button onclick="Buscar()">Ingresar</button>
            </div>
        </div>
    

        <div class="card">
    
            <div class="image">
                <img src="https://upload.wikimedia.org/wikipedia/commons/d/de/Google_Inbox_by_Gmail_logo.png">
            </div>
    
            <div class="title">
                <h1>Bandeja de Entrada</h1>
            </div>
            
            <div class="des">
                <button onclick="Bandeja()">Ingresar</button>
            </div>
        </div>

        <div class="card">
    
            <div class="image">
                <img src="https://userscontent2.emaze.com/images/6146fa1a-582e-40a7-accd-983f52b2bb6a/0515d1127484094fb19e365815ab0846.jpg">
            </div>
    
            <div class="title">
                <h1>Foro de discusiones</h1>
            </div>
            
            <div class="des">
                <button onclick="Foro()">Ingresar</button>
            </div>
        </div>
    
    </div>
    
    </section>
    
    <div>
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg modal-dialog-scrollable" role="document">
          <div class="modal-content" id="ContenidoModal">
            <div class="modal-header" >
                <h5 class="modal-title" id="exampleModalCenterTitle" style="width: 100%;">
                    <div class="login-content" style="width: 100%;">
                        <div id="frmLogin"  style="width: 100%;">
                          <img src="Public/img/avatar.svg">
                          <h2>Mi perfil</h2>
                        </div>
                      
                    </div>
                </h5>
                <button type="button" id="CerrarModal" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
            
                  <div class="login-content" style="justify-items: center; justify-content: center; width: 100%;">
                      <form v-on:submit.prevent="guardarRegistrarUsuario" method="get" id="frmRegistrarUsuario" data-accion="nuevo" style="width: 100%;">
                          <div class="row p-2">
                              <div class="col-6">
                                  <div class="input-div one focus" style="width:100%">
                                      <div class="i">
                                              <i class="fas fa-user"></i>
                                      </div>
                                      <div class="div">
                                              <h5>Nombre</h5>
                                              <input type="text" required v-model="RegistrarUsuario.Nombre" class="input" id="Usuario">
                                      </div>
                                  </div>
                              </div>
                              <div class="col-6">
                                  <div class="input-div one focus" style="margin-top: 0px; width: 100%;">
                                      <div class="i">
                                              <i class="fas fa-user"></i>
                                      </div>
                                      <div class="div">
                                              <h5>Apellido</h5>
                                              <input type="text" required v-model="RegistrarUsuario.Apellido" class="input" id="Usuario">
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="row p-2">
                              <div class="col-6">
                                  <div class="input-div one focus" style="width:100%">
                                      <div class="i">
                                          <i class="fas fa-venus-mars"></i>
                                      </div>
                                      <div class="div">
                                          <v-select id="Genero" class="style-chooser" placeholder="Genero" v-model="RegistrarUsuario.Genero" :options="Genero"></v-select>
                                      </div>
                                  </div>
                                  
                              </div>
                              <div class="col-6">
                                  <div class="input-div one focus" style="width:100%">
                                      <div class="i">
                                              <i class="fas fa-user"></i>
                                      </div>
                                      <div class="div">
                                          <v-select class="style-chooser" placeholder="Estatus" v-model="RegistrarUsuario.Estatus" :options="Status"></v-select>
                                      </div>
                                  </div>
                                  
                              </div>
                          </div>
                          <div class="row p-2">
                              <div class="col-6">
                                  <div class="input-div one focus" style="width:100%">
                                      <div class="i">
                                          <i class="far fa-calendar-alt"></i>
                                      </div>
                                      <div class="div">
                                              <input type="date" required v-model="RegistrarUsuario.Fecha" class="input" id="Usuario">
                                      </div>
                                  </div>
                              </div>
                              <div class="col-6">
                                  <div class="input-div one focus" style="margin-top: 0px; width: 100%;">
                                      <div class="i">
                                              <i class="fas fa-user"></i>
                                      </div>
                                      <div class="div">
                                              <h5>DUI</h5>
                                              <input type="text" required v-model="RegistrarUsuario.DUI" class="input" id="Usuario">
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="row p-2">
                              <div class="col-6">
                                  <div class="input-div one focus" style="width:100%">
                                      <div class="i">
                                              <i class="fas fa-user"></i>
                                      </div>
                                      <div class="div">
                                              <h5>NIT</h5>
                                              <input type="text" required v-model="RegistrarUsuario.NIT" class="input" id="Usuario">
                                      </div>
                                  </div>
                              </div>
                              <div class="col-6">
                                  <div class="input-div one focus" style="margin-top: 0px; width: 100%;">
                                      <div class="i">
                                              <i class="fas fa-user"></i>
                                      </div>
                                      <div class="div">
                                              <h5>Usuario</h5>
                                              <input type="text" required v-model="RegistrarUsuario.Usuario" class="input" id="Usuario">
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="row p-2">
                              <div class="col-6">
                                  <div class="input-div pass focus" style="width:100%">
                                      <div class="i">
                                          <i class="fas fa-lock"></i>
                                      </div>
                                      <div class="div">
                                              <h5>Password</h5>
                                              <input type="password" required v-model="RegistrarUsuario.Password" class="input" id="Password">
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="row p-2">
                              <div class="col-12 text-center">
                                  <div class="alert alert-success" role="alert">
                                      {{ RegistrarUsuario.msg }}
                                  </div>
                              </div>
                          </div>
                          <div class="row p-2"> 
                              <div class="col-12 text-center">
                                  <input type="submit" class="btn btn-success text-white" style="width: 100%;" value="Registrar">
                                  
                              </div>
                          </div>
            
                      </form>
                  </div>
              
                </div>
                <div class="modal-footer">
                    &copy; Code Master
                </div>
                
                <script src="Public/Module/Admin/Miperfil/MiPerfil.js"></script>
                <script src="Public/JS/Animacion.js"></script>
              
            </div>
        </div>
      </div>

</body>
</html>