<form v-on:submit.prevent="guardarRegistrarUsuario" method="get" id="frmRegistrarUsuario" data-accion="nuevo">

    <div class="card text-white bg-info mb-3" style="width: 100%;">
        <div class="card-header text-center">
            <h2>REGISTRO DE USUARIOS</h2>
        </div>
        <div class="card-body">
            <div class="row p-2">
                <div class="col-4">
                    Nombres
                </div>
                <div class="col-8">
                    <input type="text" v-model="RegistrarUsuario.Nombre" name="" placeholder="Ingrese su nombre" id="">
                </div>
            </div>
            <div class="row p-2">
                <div class="col-4">
                    Apellidos
                </div>
                <div class="col-8">
                    <input type="text" v-model="RegistrarUsuario.Apellido" name="" placeholder="Ingrese su apellido" id="">
                </div>
            </div>
            <div class="row p-2">
                <div class="col-4">
                    Genero
                </div>
                <div class="col-8">
                    <v-select v-model="RegistrarUsuario.Genero" :options="Genero"></v-select>
                </div>
            </div>
            <div class="row p-2">
                <div class="col-4">
                    Estatus
                </div>
                <div class="col-8">
                    <v-select v-model="RegistrarUsuario.Estatus" :options="Status"></v-select>
                </div>
            </div>
            <div class="row p-2">
                <div class="col-4">
                    Nacimiento
                </div>
                <div class="col-8">
                    <input v-model="RegistrarUsuario.Fecha" type="date">
                </div>
            </div>
            <div class="row p-2">
                <div class="col-4">
                    DUI
                </div>
                <div class="col-8">
                    <input type="text" v-model="RegistrarUsuario.DUI" name="" placeholder="Ingrese su numero de identidad" id="">
                </div>
            </div>
            <div class="row p-2">
                <div class="col-4">
                    NIT 
                </div>
                <div class="col-8">
                    <input type="text" v-model="RegistrarUsuario.NIT" name="" placeholder="Ingrese el numero de su NIT" id="">
                </div>
            </div>
            <div class="row p-2">
                <div class="col-4">
                    Usuario 
                </div>
                <div class="col-8">
                    <input type="text" v-model="RegistrarUsuario.Usuario" name="" placeholder="Ingrese el nombre de usuario" id="">
                </div>
            </div>
            <div class="row p-2">
                <div class="col-4">
                    Contraseña 
                </div>
                <div class="col-8">
                    <input type="text" v-model="RegistrarUsuario.Password" name="" placeholder="******" id="">
                </div>
            </div>
            <div class="row p-2"> 
                <div class="col-12 text-center">
                    <input type="submit" class="btn btn-outline-success text-white" value="Guardar">
                    <input type="reset" class="btn btn-outline-warning text-white" value="Limpiar">
                    <button v-on:click="buscarRegistrarUsuario()" type="button" class="btn btn-outline-dark mostrar-buscar-RegistrarUsuario text-white" data-toggle="modal" data-target="#exampleModalCenter">
                        Buscar
                      </button>
                </div>
            </div>
            <div class="row p-2">
                <div class="col-12 text-center">
                    <div class="alert alert-success" role="alert">
                        {{ RegistrarUsuario.msg }}
                    </div>
                </div>
            </div>
        </div>
    </div>

</form>

<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg modal-dialog-scrollable" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalCenterTitle">Busqueda de RegistrarUsuario</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form method="POST" id="frm-buscar-RegistrarUsuario">
            <div class="card text-white bg-primary mb-3" style="max-width: 48rem;">
                <div class="car-header">
                    BUSQUEDA DE RegistrarUsuario
                </div>
                <div class="card-body">
                    <table id="tbl-buscar-RegistrarUsuario" class="table-striped table-primarytable-hover">
                        <thead>
                            <tr>
                                <th colspan="5">
                                    <input type="text" v-model="valor" v-on:keyup="buscarRegistrarUsuario" placeholder="Nombre del cliente" class="form-control">
                                </th>
                            </tr>
                            <tr>
                                <th>Nombre</th>
                                <th>Genero</th>
                                <th>DUI</th>
                                <th>NIT</th>
                                <th colspan="2"> </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="usuario in RegistrarUsuarioes" :key="usuario.id_perfil">
                                <td>{{ usuario.nombres_completos }}</td>
                                <td>{{ usuario.genero }}</td>
                                <td>{{ usuario.DUI }}</td>
                                <td>{{ usuario.NIT }}</td>
                                <td>
                                    <input v-on:click="verificacionEliminacion(usuario.id_perfil)" type="button" class="btn btn-outline-danger text-white" value="Delete">
                                    <input v-on:click="modificarRegistrarUsuario(usuario)" data-dismiss="modal" type="button" class="btn btn-outline-warning text-white" value="Update">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </form>
        
        </div>
        <div class="modal-footer">
        </div>
      </div>
    </div>
  </div>

<script src="./PUBLIC/Module/RegistroUsuario/Registrar/RegistrarUsuario.js"></script>