<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bandeja de entrada</title>
    <link rel="stylesheet" href="../Public/CSS/Bandeja.css">
    <!-- CDN Client NodeJS -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.5/socket.io.min.js"></script>
</head>
<body>
    <div class="Contenedor">
        <div id="Buscador" class="BuscadorChat">
            <div class="BuscadorSala">
                <input type="text" v-model="valor" v-on:keyup="Datos()" name="" placeholder="Ingrese el nombre" id="">
            </div>
            <div v-for="User in Usuarios" :key="User.id_perfil" class="Usuarios">
                <div v-if="User.msgE > 0" class="Usuario notificar" v-on:click="MostrarChat(User.id_perfil)">
                    <h4>{{   User.nombres_completos   }}</h4>
                </div>
                <div v-else class="Usuario " v-on:click="MostrarChat(User.id_perfil)">
                    <h4>{{   User.nombres_completos   }}</h4>
                </div>
            </div>
        </div>
        <div class="SalaChat">
            <div id="messages">

                <div class="message">
                    <strong>BOT - SRP</strong>
                    <p>Bienvenido a la bandeja de entrada del SRP</p>
                </div>
                <div class="message">
                    <strong>BOT - SRP</strong>
                    <p>Selecciona alguno de los usuarios que estan a tu izquierda para empezar con el chat</p>
                </div>
    
            </div>
    
          <form id="AddMessage" v-on:submit.prevent="addMessage">
                <div class="containerChatWrite">
                <textarea required id="text" placeholder="Mensaje......"></textarea>
                <input class="enviarMessage" type="submit" value="">
                </div>
            </form>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    
    <script src="Bandeja.js"></script>
    <script>
  
        const tx = document.getElementsByTagName('textarea');
        for (let i = 0; i < tx.length; i++) {
          tx[i].setAttribute('style', 'height:' + (tx[i].scrollHeight) + 'px;overflow-y:hidden;');
          tx[i].addEventListener("input", OnInput, false);
        }
  
        function OnInput() {
          this.style.height = 'auto';
          this.style.height = (this.scrollHeight) + 'px';
        }
        var objDiv = document.getElementById("messages");
        objDiv.scrollTop = objDiv.scrollHeight;
      </script>
</body>
</html>